# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Node
finance-dashboard/node_modules/
finance-dashboard/dist/

# Docker
*.log

# Mac
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/
